.cache/
data
input_images/
generated/
generated_data/
checkpoints/
summaries/
summaries2/
lol/
options/
logs/
test_examples/
.vscode
__pycache__
*.zip
*.out
*.fid_cache
*.npy
*.gz
*.ipynb
validation_checkpoints/
test_scripts/
fid/
scripts/.detectron_predictions
scripts/debug
.results
*.ckpt
*.pth
models/old
anonymized_images/
.debug/
transition_checkpoints/