*.yaml
*.pkl
*.mp4
*.flist
.cache/
data
input_images/
generated/
generated_data/
checkpoints/
summaries/
summaries2/
lol/
options/
logs/
test_examples/
.vscode
__pycache__
*.zip
*.out
*.fid_cache
*.npy
*.gz
cherry/
*.png
*.jpg
paper_models/
validation_checkpoints/
test_scripts/
fid/
scripts/.detectron_predictions
scripts/debug
.results
*.ckpt
*.pth
models/old
anonymized_images/
.debug/
transition_checkpoints/
fid_images/
models_old
inception/
.fid_cache/
tensorboard_summaries/

# Only allow named notebooks
Untitled**.ipynb
**/.ipynb_checkpoints/**
*.log
*.pyc
*.csv
*.yml
*.txt
*.ods
*.ods#
paper_figures/
*_ours.png
build/
*.egg-info
*.egg
configs/unet_D.py
*.json
outputs/