data
input_images/
generated/
generated_data/
checkpoints/
summaries/
summaries2/
lol/
options/
logs/
test_examples/
.vscode
__pycache__
*.zip
*.out
*.fid_cache
*.gz
*.ipynb
scripts/.detectron_predictions
scripts/debug